{% extends 'include/base/homepage.html' %}
{% load static %}
{% block content %}
  <!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  {% include 'include/base/header.html' %}

  <!-- BEGIN OF page cover -->
  <div class="cover-page">
    <!-- Cover Background -->
    <div class="cover-bg">
      <img class="fit" src="{% static 'img/bg-default1.jpg' %}" alt="cover">
    </div>

    <!-- Gradient mask -->
    <div class="cover-bg bg-black opacity-8"></div>
  </div>
  <!--END OF page cover -->

  <!-- BEGIN OF page main content -->
  <main class="page-main sections-scroll scroll-anim" id="mainpage">

    <!-- Begin of hero section -->

    <section id="home" class="section hero-a fullscreen-h">
      <!-- Begin of section body -->
      <div class="section-body">
        <!-- content -->
        <div class="hero-content section-content container content-width anim">
          <div class="row justify-content-center text-center">
            <div class="content-col col-12 col-md-8 col-lg-8">
              <!-- title and description -->
              <div class="title-desc">
                <h1 data-scroll data-scroll-speed="1" class="display-title hero-title anim-1">{{ settings.title }}</h1>
                <p data-scroll data-scroll-speed="3" class="anim-2 hero-desc">{{ settings.slogan_description }}</p>
              </div>

              <!-- Action button -->
              <!-- <div class="hero-btns btns-action anim-3">
                        <a class="btn btn-outline btn-white rounded-pill" href="#about">
                            <span class="text">Get started</span>
                        </a>
                    </div> -->
            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->

      <!-- Arrows scroll down/up -->
      <footer class="hero-footer">
        <div class="section-footer-center footer-scrolldown">
          <a class="btn-scrolldown-a" href="#about">
            <span class="icon icon-scrolldown"></span>
            <span class="text">Прокрутите вниз</span>
          </a>
        </div>
      </footer>
    </section>
    <!-- End of hero section -->
    <!-- Begin of projects section -->
    <section id="projects" class="section section-a child-sticky fullscreen-h-lg">
      <!-- Begin of section body -->
      <div class="section-body py-5">
        <!-- content -->

        <div class="section-content container content-width anim d-lg-none">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-0">Наши услуги</h2>
              </div>
            </div>
          </div>
        </div>

       {% include 'pages/base/base/service.html' %}
      </div>
      <!-- End of section body -->

      <!-- End of projects section -->
    </section>
    <!-- Begin of about section -->
    {% include 'pages/base/base/about.html' %}
    <!-- End of about section -->
    
    <!-- End of services section -->
    <!-- Begin of team section -->
    {% include 'pages/base/secondary/partners.html' %}
    <!-- End of team section -->

    <!-- Begin of works section -->
    <!-- <section id="works" class="section section-a fullscreen-h-lg">

      <div class="section-title title-anim sticky-title-off">
        <h2 class="text rellax" data-rellax-speed="5" data-rellax-percentage="0.5">Наши работы </h2>
      </div>
      <div class="section-body">
        <div class="section-content container content-width anim">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <div class="title-desc" data-anim-visible='fade'>
                <h2 class="display-3 anim-1 mb-4">Works</h2>
                <p class="anim-2">We did so many projects since the beginning of our path. Here are some of the
                  remarkable ones.</p>
              </div>
            </div>
            <div class="col-lg-4 text-right" data-anim-visible='fade'>
              <a class="btn btn-outline btn-white rounded-pill" href="#about">
                <span class="text">All my works</span>
              </a>
            </div>
          </div>

          <div class="part-wrapper">
            <div class="item-list row row-cols-1 row-cols-md-2 g-5 anim-list">
              <div class="col">
                <div class="row row-cols-1 g-5">
                  <div class="col">
                    <a class="item item-image-b col-12 col-lg-9" href="item.html#or_an_url" data-anim-visible='fade'>
                      <div class="item-img rounded-md">
                        <img class="fit" src="{% static 'img/items/img-portrait1.jpg' %}" alt="team member">
                      </div>
                      <div class="item-body">
                        <div class="desc">
                          <h4>Zeta Deskyn</h4>
                          <p>Interior Design</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col">
                    <a class="item item-image-b" href="item.html#or_an_url" data-anim-visible='fade'>
                      <div class="item-img rounded-md">
                        <img class="fit" src="{% static 'img/items/img-sample1.jpg' %}" alt="team member">
                      </div>
                      <div class="item-body">
                        <div class="desc">
                          <h4>Fruita Wikiw</h4>
                          <p>Art, Photography</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="row row-cols-1 g-5">
                  <div class="col">
                    <a class="item item-image-b" href="item.html#or_an_url" data-anim-visible='fade'>
                      <div class="item-img rounded-md">
                        <img class="fit" src="{% static 'img/items/img-sample4.jpg' %}" alt="team member">
                      </div>
                      <div class="item-body">
                        <div class="desc">
                          <h4>La-Fleur-De-Linx</h4>
                          <p>Art, Showcase</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col d-flex justify-content-end">
                    <a class="item item-image-b col-12 col-lg-9 text-right" href="item.html#or_an_url"
                      data-anim-visible='fade'>
                      <div class="item-img rounded-md">
                        <img class="fit" src="{% static 'img/items/img-portrait2.jpg' %}" alt="team member">
                      </div>
                      <div class="item-body">
                        <div class="desc">
                          <h4>Zeta Deskyn</h4>
                          <p>Interior Design</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    
    {% include 'pages/base/secondary/service2.html' %}
    <!-- Begin of subscribe section -->
    {% include 'pages/forms/consultation.html' %}
    <!-- Begin of reviews section -->
    <section id="reviews" class="section section-a fullscreen-h-lg">
      <div class="section-title title-anim">
        <div data-anim-visible='zoom-in'>
          <h2 class="text">Отзывы</h2>
        </div>
      </div>
      <!-- Begin of section body -->
      <div class="section-body">
        <div class="section-content container content-width anim">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc" data-anim-visible='fade'>
              </div>
            </div>
            <div class="col-lg-4 text-right" data-anim-visible='fade'>
              <a class="btn btn-outline btn-white rounded-pill" href="{% url 'reviews' %}">
                <span class="text">Оставить отзыв</span>
              </a>
            </div>
          </div>
  
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row justify-content-between">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc pe-lg-5" data-anim-visible='fade'>
                <h2 class="display-3 anim-1 mb-4">Отзывы клиентов</h2>
                <p class="anim-2">Наши клиенты делятся своим опытом сотрудничества с нами. Мы ценим каждое мнение и гордимся тем, что наша работа помогает воплощать их идеи в жизнь.</p>
              </div>

            </div>

            <div class="col-12 col-lg-5 text-left">
              <!-- Slider main container -->
              <div class="swiper-container slider-simple-b" data-anim-visible='fade'>
                <!-- Swiper wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  {% for r in reviews %}
                  <div class="swiper-slide">
                    <div class="item-slider item-quote-a">
                      <div class="item-body">
                        <blockquote class="quote">
                          <span class="quote-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="37.002" height="33.114" viewBox="0 0 37.002 33.114">
                              <path data-name="Path 4" d="M34.409,0V4.56a7.322,7.322,0,0,0-3.211,4.3,25.306,25.306,0,0,0-1.028,8.093v1.413H35.95V32.114H22.462V21.838A30.83,30.83,0,0,1,25.481,7.065,13.635,13.635,0,0,1,34.473,0ZM11.929,0V4.56a7.322,7.322,0,0,0-3.211,4.3A25.306,25.306,0,0,0,7.69,16.956v1.413H13.47V32.114H-.018V21.838A30.83,30.83,0,0,1,3,7.065,13.635,13.635,0,0,1,11.993,0Z" transform="translate(0.551 0.5)" fill="rgba(255,255,255,0.07)" stroke="#fff" stroke-width="1" />
                            </svg>
                          </span>
                          <span>
                            {{ r.review_text }}
                          </span>
                        </blockquote>
                      </div>
                      <div class="item-header">
                        <div class="row">
                          <div class="col">
                            <h5 class="mb-1 mt-2">{{ r.name }}</h5>
                            <p>{{ r.created_at|date:'d.m.Y' }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% empty %}
                  <div class="swiper-slide">
                    <div class="item-slider item-quote-a">
                      <div class="item-body">
                        <blockquote class="quote">
                          <span class="quote-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="37.002" height="33.114" viewBox="0 0 37.002 33.114">
                              <path data-name="Path 4" d="M34.409,0V4.56a7.322,7.322,0,0,0-3.211,4.3,25.306,25.306,0,0,0-1.028,8.093v1.413H35.95V32.114H22.462V21.838A30.83,30.83,0,0,1,25.481,7.065,13.635,13.635,0,0,1,34.473,0ZM11.929,0V4.56a7.322,7.322,0,0,0-3.211,4.3A25.306,25.306,0,0,0,7.69,16.956v1.413H13.47V32.114H-.018V21.838A30.83,30.83,0,0,1,3,7.065,13.635,13.635,0,0,1,11.993,0Z" transform="translate(0.551 0.5)" fill="rgba(255,255,255,0.07)" stroke="#fff" stroke-width="1" />
                            </svg>
                          </span>
                          <span>
                            Пока отзывов нет.
                          </span>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                 
                </div>

                <!-- slider pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of reviews section -->
    <!-- Begin of home contact -->
    {% include 'pages/forms/contacts.html' %}
    <!-- End of contact section -->
  </main>
  <!-- END OF page main content -->

  <!-- BEGIN OF page footer -->
  {% include 'include/base/footer.html' %}
  <!-- END OF site footer -->

  {% endblock %}