{% load static %}
<header class="navbar-top navbar navbar-a navbar-expand-lg ">
    <nav class="container-fluid px-0">

      <!-- Logo -->
      <a class="navbar-brand" href="{% url 'index' %}">
        <span class="logo">
          <img class="light-logo" src="{{ settings.icon.url }}" style="width: 100px; height: 100px;" alt="Simpleux Template">
        </span>
        <span class="text ms-3">
          <span class="line strong">{{ settings.title }}</span>
          <span class="line sub">{{ settings.slogan }}</span>
        </span>
      </a>

   

      <!-- Navigation menu -->
      <div class="collapse navbar-collapse order-lg-1" id="navbarMenuCollapse">
        <div class="navbar-menu-wrapper">
          <div class="nav-body">
            <!-- Menu links at top -->
            <ul class="navbar-nav nav-menu-top">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'index' %}#projects">Наши услуги</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTopDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Разделы
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarTopDropdown">
                  <li><a class="dropdown-item" href="{% url 'index' %}#home">Главная</a></li>
                  <li><a class="dropdown-item" href="{% url 'index' %}#projects">Наши услуги</a></li>
                  <li><a class="dropdown-item" href="{% url 'index' %}#about">О нас</a></li>
                  <li><a class="dropdown-item" href="{% url 'index' %}#works">Наши работы</a></li>
                  <li><a class="dropdown-item" href="{% url 'index' %}#reviews">Отзывы</a></li>
                  <li><a class="dropdown-item" href="{% url 'index' %}#subscribe">Бесплатная консультация</a></li>
                  <li><a class="dropdown-item" href="{% url 'index' %}#contact">Контакты</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'reviews' %}">Оставить отзыв (страница)</a></li>
                </ul>
              </li>
            </ul>

            <!-- Call to action buttons -->
            <ul class="navbar-nav nav-cta">
              <li class="nav-item">
                <a class="btn btn-outline btn-white rounded-pill" href="{% url 'index' %}#contact">
                  <span class="text">Контакты</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- Nav footer of small devices -->
          <div class="nav-footer-md">
            <nav class="nav-social nav-social-a">
              <ul>
                {% if settings.facebook %}
                <li class="nav-item">
                  <a class="nav-link btn" href="{{ settings.facebook }}">
                    <span class="icon">
                      <i class="ion ion-logo-facebook"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
                {% if settings.instagram %}
                <li class="nav-item">
                  <a class="nav-link btn" href="{{ settings.instagram }}">
                    <span class="icon">
                      <i class="ion ion-logo-instagram"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
                {% if settings.telegram %}
                <li class="nav-item">
                  <a class="nav-link btn" href="{{ settings.telegram }}">
                    <span class="icon">
                      <i class="fa fa-telegram"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
                {% if settings.whatsapp %}
                <li class="nav-item">
                  <a class="nav-link btn" href="{{ settings.whatsapp }}">
                    <span class="icon">
                      <i class="ion ion-logo-whatsapp"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </header>