{% load static %}
<footer id="site-footer" class="footer-page ">
    <!-- Left content -->
    <div class="footer-left">
      <p class="note text-sm">&copy; 2025 <a href="https://t.me/erk1nbaew"><span class="marked">ZEA </span></a>
      </p>
    </div>
    <!-- Right content -->
    <div class="footer-right">
      <nav class="nav-social nav-social-a">
        <ul>
            {% if settings.facebook %}
            <li class="nav-item">
              <a class="nav-link btn" href="{{ settings.facebook }}">
                <span class="icon">
                  <i class="ion ion-logo-facebook"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if settings.instagram %}
            <li class="nav-item">
              <a class="nav-link btn" href="{{ settings.instagram }}">
                <span class="icon">
                  <i class="ion ion-logo-instagram"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if settings.telegram %}
            <li class="nav-item">
              <a class="nav-link btn" href="{{ settings.telegram }}">
                <span class="icon">
                  <i class="fa fa-telegram"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if settings.whatsapp %}
            <li class="nav-item">
              <a class="nav-link btn" href="{{ settings.whatsapp }}">
                <span class="icon">
                  <i class="ion ion-logo-whatsapp"></i>
                </span>
              </a>
            </li>
            {% endif %}
          </ul>
      </nav>
    </div>
  </footer>