{% load static %}
<!-- Page Loader : just comment these lines to remove it -->
<div class="page-loader" id="page-loader">
    <div>
      <div class="icon icon-spin"></div>
      <p>Загрузка</p>
    </div>
  </div>
  <!-- Begin of navigation bar .navbar-top -->
  {% include 'include/base/secondary/header.html' %}
  <!-- End of navigation bar .navbar-top -->
  <!-- Begin of sidebar .nav-sidebar -->
  <nav class="nav-sidebar d-none d-xl-block">
    <ul class="nav-wrapper">
      <li class="nav-item active" data-section-anchor="home">
        <a href="#home" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-home"></i>
          </span>
          <span class="text">Главная страница</span>
        </a>
      </li>
      <li class="nav-item" data-section-anchor="subscribe">
        <a href="#subscribe" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-chatbubbles"></i>
          </span>
          <span class="text">Бесплатная консультация</span>
        </a>
      </li>
      <li class="nav-item" data-section-anchor="services">
        <a href="#services" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-construct"></i>
          </span>
          <span class="text">Наши услуги</span>
        </a>
      </li>
      <li class="nav-item" data-section-anchor="about">
        <a href="#about" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-information-circle"></i>
          </span>
          <span class="text">Кто мы ? </span>
        </a>
      </li>
      <li class="nav-item" data-section-anchor="team">
        <a href="#team" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-people"></i>
          </span>
          <span class="text">Наши партнеры </span>
        </a>
      </li>
      <li class="nav-item" data-section-anchor="products">
        <a href="#products" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-cut"></i>
          </span>
          <span class="text">Что мы шьем ? </span>
        </a>
      </li>
      
      <li class="nav-item" data-section-anchor="contact">
        <a href="#contact" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-call"></i>
          </span>
          <span class="text">Контакты</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- End of sidebar .nav-sidebar -->
  <nav class="nav-dot-menu"></nav>